body {background:white;}
.container1 { border-bottom: groove 1px;}
i {width: 100%; height: 100%;}
a {font-size: 14px;}
.uno:hover {color: white; background:grey}
.card .tres {height: 15em;}
textarea {width: 500px; height: 60px; margin: 10px; border: groove 2px;}
.container3 {background: #E7E4E3}